<template name="link">
  <li class="list-group-item">
    <h4><a href="{{href}}" target="_blank">{{title}}</a></h4>
    <h5>{{href}}</h5>

    <p>
      Added by {{username}} on {{formatDate createdAt}}. <br/>
    </p>
    <div class="btn-group">
      {{#unless hasStatus "read"}}
        <a href="#" class="mark-as-read btn btn-default btn-sm"><i class="glyphicon glyphicon-book"></i> Mark as read</a>
      {{/unless}}
      {{#unless hasStatus "saved"}}
        <a href="#" class="save btn btn-default btn-sm"><i class="glyphicon glyphicon-star"></i> Save for later</a>
      {{/unless}}
      {{#unless hasStatus "not-interesting"}}
        <a href="#" class="not-interesting btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i> Not interesting</a>
      {{/unless}}
    </div>
  </li>
</template>