<template name="home">
  <div class="container">
  {{> loginButtons}}
  <h1>Welcome to Shynx!</h1>

  {{#if currentUser}}
    <ul class="nav nav-pills">
      <li role="presentation" class="{{#if currentTab "feed"}}active{{/if}}">
        <a href="feed" class="tab-select">Feed</a>
      </li>

      <li role="presentation" class="{{#if currentTab "saved"}}active{{/if}}">
        <a href="saved" class="tab-select">
          Saved <span class="badge">{{ savedCount }}</span>
        </a>
      </li>

      <li role="presentation" class="{{#if currentTab "read"}}active{{/if}}">
        <a href="read" class="tab-select">Read</a>
      </li>

      <li role="presentation" class="{{#if currentTab "trash"}}active{{/if}}">
        <a href="trash" class="tab-select">Trash</a>
      </li>
    </ul>

    {{#if currentTab "feed"}}
      <h3>Feed</h3>

      <form class="new-link form-inline">
        <div class="form-group">
          <input type="text" name="href" class="form-control" placeholder="http://mycoollink.com/pirate-cat" id="link-title">
        </div>
        <input type="submit" class="btn btn-success" value="Add new link">
        <span id="new-link-loader" class="hide"><img src="/ajax-loader.gif"/></span>
      </form>


      <ul class="list-group">
        {{> feed}}
      </ul>
    {{/if}}

    {{#if currentTab "saved"}}
      <h3>Saved for later</h3>
      <ul class="list-group">
        {{#each savedLinks}}
          {{> link}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if currentTab "read"}}
      <h3>Read</h3>
      <ul class="list-group">
        {{#each readLinks}}
          {{> link}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if currentTab "trash"}}
      <h3>Trash</h3>
      <ul class="list-group">
        {{#each trashedLinks}}
          {{> link}}
        {{/each}}
      </ul>
    {{/if}} 

  {{else}}
    <div class="jumbotron">
      <h1>Share your links!</h1>
      <h2>Just for awesome startups!</h2>
    </div>
  {{/if}}
  </div>
</template>

<template name="feed">
  {{#each newLinks}}
    {{> link}}
  {{/each}}
</template>