<template name="invitations">
  {{> navbar}}
  <div class="container">
    <h1>Users</h1>
    <table class="table">
    {{#each usersInChannel}}
      <tr>
        <td>{{username}}</td>
        <td>{{#each emails}}{{address}}{{/each}}</td>
        <td><button class="btn btn-default kick-out">Kick out</button></td>
      </tr>
    {{/each}}
    </table>

    <hr/>
    <form class="form" id="new-invitation">
      <div class="form-group">
        <input name="email" placeholder="my.friend@gmail.com" class="form-control">
      </div>
      <input type="submit" value="Invite user" class="btn btn-primary">
    </form>
  </div>
</template>